<?php
$finder = PhpCsFixer\Finder::create()
	->in('lib/')
;
return PhpCsFixer\Config::create()
	->setRules([
		'@PSR2' => true,
		'array_syntax' => ['syntax' => 'short'],
		'binary_operator_spaces' => ['align_double_arrow' => true, 'align_equals' => false],
	])
	->setIndent("\t")
	->setFinder($finder)
	;
