.bbb {

  #displayname,
  #password {
    margin: 5px 0;
    padding-right: 45px;
    height: 45px;
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 100% !important;
    min-width: 0;
  }

  button {
    width: 100%;
    margin-top: 1em;
  }

  .submit-icon {
    float: right;
  }

  .bbb-container {
    position: relative;
    margin-top: 1em;
  }

  input[type='submit'].icon-confirm {
    position: absolute;
    top: 0px;
    right: -5px;
    width: 45px !important;
    height: 45px;
    background-color: transparent !important;
  }
}