.icon-add-shortcut {
  background-image: url('../../img/chain-plus.svg');
}

.oc-dialog.bbb-dialog {
  max-height: calc(100% - 70px);
  margin-top: 25px;
}

.bbb-mb-1 {
  margin-bottom: 1em;
}

.bbb-mt-1 {
  margin-top: 1em;
}

.bbb-avatar {
  border-radius: 50%;
}

#bbb-warning {
  padding: 1em;
  background-color: rgb(255, 255, 123);
  display: inline-block;

  .icon {
    display: inline-block;
  }
}

#bbb-success {
  padding: 1em;
  background-color: rgb(176, 252, 132);
  display: inline-block;

  .icon {
    display: inline-block;
  }
}

#bbb-settings {
  #bbb-warning,
  #bbb-success {
    margin: 1em 0;
  }

  [type="url"],
  [type="password"] {
    width: 250px;
  }

  p {
    margin-bottom: 1em;
  }
}

#bbb-react-root {
  #bbb-warning,
  #bbb-success {
    margin: 3em;
  }

  .icon {
    display: inline-block;
    opacity: 0;

    &.icon-visible {
      opacity: 0.5;
    }
  }

  &, & > table {
    width: 100%;
  }

  tr {
    min-height: 62px;
  }

  th {
    border-bottom: 1px #ddd solid;
    cursor: pointer;

    .sort_arrow {
      float: right;
      color: #888;
    }
  }

  td, th {
    padding: 10px;
    position: relative;
    display: table-cell;

    & > form {
      margin: -10px;

      input[type='text'] {
        width: 100%;
      }
    }

    .action-rename {
      &::after {
        display: inline-block;
        position: relative;
        top: 2px;
        left: 2px;
        content: '';
        width: 16px;
        height: 16px;
        background: url('../../img/rename.svg') no-repeat center;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.icon-col {
      width: 32px;
    }

    a.icon {
      margin-left: 5px;
    }
  }

  tr:hover {
    .icon {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    .action-rename {
      &::after {
        opacity: 0.5;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .copy-to-clipboard {
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    &:active {
      background-color: rgba(0, 128, 0, 0.445);
    }
  }

  .selected-row,
  .recordings-row {
    border-left: 3px solid #888;
  }

  .selected-row {
    background-color: #f0f0f0;
  }

  .recordings-row {
    background-color: #f7f7f7;

    &> td {
      padding: 0;
    }

    table {
      width: 100%;
    }
  }
}

.bbb-form-element {
  min-width: 300px;
  margin: 2em 0;

  input:not([type="checkbox"]),
  select {
    width: 100%;
    display: block;
  }

  [readonly] {
    background-color: #f1f1f1;
  }

  em {
    white-space: normal;
  }
}