.icon-circle-white {
  background-size: 50%;
  background-image: url('../../img/circles.svg');
}

.bbb-shareWith {
  margin: 1em 0;

  &__item {
    height: 44px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-background-dark);
    }

    .avatardiv {
      height: 32px;
      width: 32px;
      overflow: hidden;

      .icon-group-white,
      .icon-circle-white {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #a9a9a9;
      }
    }

    .icon {
      height: 44px;
      width: 44px;
    }

    &__label {
      padding: 0 1em;
      flex-grow: 1;
    }
  }
}

.bbb-icon-unselected {
  opacity: 0.2 !important;

  &:hover {
    opacity: 0.5 !important;
  }
}
