name: Static analysis
on: [push]

jobs:
  static-psalm-analysis:
    runs-on: ubuntu-latest
    strategy:
        matrix:
            ocp-version: [ '^28', '^27', '^26', '^25']
    name: Nextcloud ${{ matrix.ocp-version }}
    steps:
        - name: Checkout
          uses: actions/checkout@master
        - name: Set up php
          uses: shivammathur/setup-php@master
          with:
            php-version: 8.1
            coverage: none
        - name: Update php-cs-fixer
          run: composer update friendsofphp/php-cs-fixer -W
        - name: Install dependencies
          run: composer i
        - name: Install dependencies
          run: composer require --dev nextcloud/ocp:${{ matrix.ocp-version }} symfony/service-contracts
        - name: Run coding standards check
          run: composer run psalm

